/* Body background color */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

/* Header styles */
h1 {
    color: #ff69b4;
    margin-bottom: 20px;
}


form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ff1493;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


p {
    color: #ff69b4;
    font-style: italic;
}
.exit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.exit-button:hover {
    background-color: #ff1493;
}